#root {
  margin: 0 auto;
}

.detailsContainer{
  box-shadow: 0px 0px 12px 0px rgb(207 207 207);
}

.getJoke {
  height: 2.8em;
  width: 9em;
  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  border: 2px solid #6b6aff;
  outline: none;
  color: #6b6aff;
  font-size: 17px;
}
 
.getJoke:hover {
  background: #6b6aff;
  color: #ffffff;
  animation: squeeze 0.9s both;
}
 
@keyframes squeeze {
  0% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
 
  30% {
   -webkit-transform: scale3d(1.25, 0.75, 1);
   transform: scale3d(1.25, 0.75, 1);
  }
 
  40% {
   -webkit-transform: scale3d(0.75, 1.25, 1);
   transform: scale3d(0.75, 1.25, 1);
  }
 
  50% {
   -webkit-transform: scale3d(1.15, 0.85, 1);
   transform: scale3d(1.15, 0.85, 1);
  }
 
  65% {
   -webkit-transform: scale3d(0.95, 1.05, 1);
   transform: scale3d(0.95, 1.05, 1);
  }
 
  75% {
   -webkit-transform: scale3d(1.05, 0.95, 1);
   transform: scale3d(1.05, 0.95, 1);
  }
 
  100% {
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
 }
 